# Example environment variables
VITE_APP_TITLE=Alecons Application Portal
VITE_APP_ENV=development
VITE_APP_API_URL=http://localhost:8000/api
VITE_APP_WEBSOCKET_URL=ws://localhost:8080
VITE_APP_DEBUG=true

# Student Portal URL
VITE_APP_STUDENT_PORTAL_URL=http://localhost:3000/student-portal

# Paystack Configuration
VITE_PAYSTACK_PUBLIC_KEY=your_paystack_public_key_here
