VITE_APP_FULL_NAME="Alecons College of Nursing Sciences"
VITE_APP_SITE_URL="https://alecons.edu.ng"
VITE_API_BASE_URL="https://api.alecons.edu.ng/api/v1"
VITE_APP_PHONE="+2349160008679"
VITE_APP_APPLICATION_PORTAL_URL="https://apply.alecons.edu.ng"
VITE_APP_STUDENT_PORTAL_URL="https://portal.alecons.edu.ng"
VITE_APP_STAFF_PORTAL_URL="https://staff.alecons.edu.ng"
VITE_CONTACT_FORM_ENDPOINT=""
